==== Do not change these values ====
stopFilePath = stoplist-smart-sys.txt
performStemming = N
backgroundCorpusFreqCounts = bgCounts-Giga.txt
topicWordCutoff = 0.1

==== Directory to compute topic words on ====

inputDir = /home1/c/cis530/hw4/data_type1

==== Output File ====

outputFile = /home1/y/yaouwang/cis530/cis530hw4/type1.ts